body {
    font-family: Arial;
    background: linear-gradient(120deg, #667eea, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    width: 380px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#options button {
    display: block;
    width: 100%;
    margin: 8px 0;
    background: #667eea;
    color: white;
}

.correct {
    background: green !important;
}

.wrong {
    background: red !important;
}

.controls {
    margin-top: 10px;
}

.hide {
    display: none;
}
