body {
    font-family: Arial;
    background: linear-gradient(120deg, #667eea, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    width: 420px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: #667eea;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #764ba2;
}

#options label {
    display: block;
    text-align: left;
    margin: 5px 0;
}

.hide {
    display: none;
}



