  body {
            text-align: center;
            font-family: Arial;
        }
        canvas {
            border: 2px solid black;
            cursor: crosshair;
        }
        .tools {
            margin: 10px;
        }
