body {
            font-family: Arial;
            text-align: center;
            background: #f2f2f2;
        }
        .toolbar {
            background: #fff;
            padding: 10px;
            margin: 10px auto;
            width: 700px;
            box-shadow: 0 0 5px #aaa;
        }
        canvas {
            border: 2px solid black;
            background: white;
            cursor: crosshair;
        }
        select, button, input {
            margin: 5px;
        }
 
