      body {
            font-family: Arial;
            text-align: center;
            background: #baa7a7;
        }
        .toolbar {
            background: #88b8ce;
            padding: 10px;
            margin: 10px auto;
            width: 720px;
            box-shadow: 0 0 5px #aaa;
        }
        canvas {
            border: 2px solid black;
            background: white;
            cursor: crosshair;
        }
        select, button, input {
            margin: 5px;
            background-color: rgb(180, 175, 213);
        
        }
 
